
body {
  margin: 0%;
  padding: 0%;
}

#navegacion input[type="checkbox"], #navegacion .fa-bars, #navegacion .fa-times {
  display: none;}


#navegacion {
  display: flex;
  flex-direction: row;
  border: 2px solid transparent;
  justify-content: space-between;

}

nav {
  border: 2px solid transparent;
  
 
  div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: space-between;
    justify-content: space-around;
    margin-right: 100px;
    
      a {
      display: flex;
       color: #060A24;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 16px;
      font-family: 'IBM Plex Mono', monospace;
      text-decoration: none;
      }
   
  }
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}



header {
  margin-top: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid transparent;
  margin-left: 200px;
  margin-bottom: 200px;
  h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    border: 2px solid transparent;
    color: #060A24;
    font-size: 64px;
  }

  p {
    border: 2px solid transparent;
    width: 628px;
    height: 48px;
    color:#060A24;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
  }
 
  
}

input {
  background-color: #00F3BB;
  width: 250px;
  height: 56px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
  border-color: transparent;
}

#episodios {
  color: #FFFFFF;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 38px;
  margin-left: 200px;
}

.epi{
  display: none;
}



h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #060A24;
  font-size: 38px;
  margin-left: 200px;
  
}

h4:hover{
    transition: all 500ms ease;
    background-color: transparentize($color: #92d7e4, $amount: 0);
    border-radius: 10px;
    padding: 10px;
   
}

p {
  font-size: 16px; 
  color: #060A24;
  font-family: 'IBM Plex Mono', monospace;
  text-align: justify;
}

.skew{
  position: relative;
    background: #0000A3;
    
}

.skew-up::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -100px;
    left: 0;
    border-style: solid;
    border-width: 0 0 100px 100vw;
    border-color: transparent transparent #0000A3 transparent;
    z-index: -1;
}

.skew-down::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    bottom: -100px;
    border-style: solid;
    border-width: 100px 100vw 0 0;
    border-color: #0000A3 transparent transparent transparent;
    z-index: -1;
}

#entrevistas {
  margin-top: 1px;
}

#logo {
  border: 2px solid transparent;
  width: 36px;
  height: 36px;
  margin-left: 100px;
}

#nosotros {
  margin-left: 6%;
}

.nosotros {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 220px;
  
  
  img {
    width: 390px;
    height: 660px;
   position: relative;
   bottom: 200px;
    
  }
}

.invitados {
  height: 300px;
  width: 430px;
 
}

.icono {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
 text-align: center;
 justify-content: space-around;
 margin-left: 80px;
 margin-right: 80px;
 margin-top: 80px;
}

.episodios {
  border:transparent solid 2px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;

}

iframe {
  
  margin-bottom: 20px;
  margin-top: 20px;
  width: 40%;
  height:232px;
  border: 10px; 
  background-color: transparent; 


}

.topicos {
  margin-bottom: 100px;
  margin-top: 100px;
  
}

#topicos {
  margin-left: 33%;
}


#novedades {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  margin-bottom: 30px;
  align-content: space-around;
  
  h3 {
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 38px;
    margin-left: 3%;
    
  }
  input {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    margin-bottom: 100px;
    
  }
}

footer {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid transparent;
  justify-content: space-between;

  div {
    margin-top: 25px;
    i {
      width: 50px;
      height: 50px;
    }
  }
  
}

@media only screen and (max-width: 600px){

  #logo {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-top: 10px;
  }

  label {
    display: block;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
    margin-top: 50px;
    background-color: #0000EC;

    a {
      display: block;
      margin: 10px;
      padding: 10px;
      text-align: left;
      color: white;
      
    }
  }

  #navegacion input[type="checkbox"], #navegacion .fa-bars, #navegacion .fa-times {
    display:block; 
  }

  #navegacion a { 
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    max-width: 200px;
    background: #0000EC ;
    font-family: 'IBM Plex Mono', monospace;
    -moz-transition-delay: 400ms;
  }

  #navegacion input[type="checkbox"], #navegacion .fa-bars, #navegacion .fa-times {
    position: absolute;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;  
    
  }
   
  #navegacion .fa-bars, #navegacion .fa-times {
    font-size: 28px;
    margin-top: 10px;
    pointer-events: none;
  }
   
  #navegacion input[type="checkbox"] {
    opacity: 0; 
  }
   
  #navegacion {
    color: black;
    position: relative; 
    background: white;
    min-height: 48px;
  }
   
  #navegacion nav div{
    display: none;
  }
   
  #navegacion input:checked ~ nav div{
    display: block;
    
    
  }
   
  #navegacion input:checked ~ .fa-bars {
    display: none;
  }
   
  #navegacion input:not(:checked) ~ .fa-times {
    display: none;
  }

header {
  margin-top: 39px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid transparent;
  height: 288px;
  margin-bottom: 100px;
  
  
  h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    border: 2px solid transparent;
    color: #060A24;
    font-size: 36px;
    
  }

  p {
    border: 2px solid transparent;
    color:#060A24;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    text-align: justify;
    

  input {
    background-color: #00F3BB;
    width: 288px;
    height: 56px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    border-color: transparent;
    margin-left: 16px;
  }
  }
}

#episodios {
  color: #FFFFFF;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  margin-left: 16px;
}

.epi{
  display: none;
}

iframe {
  height: 232px;
  width: 298px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#nosotros {
  margin-left: 16px;
  text-align: left;
  margin-right: 16px;
  margin-top: 1px;
  
}


.nosotros {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 239px;
  margin-bottom: 50px;
  
  
  img {
    width: 398px;
    height: 649px;
   position: relative;
    
  }
}

.invitados {
  height: 243px;
  width: 380px;
 
}

#entrevistas {
  text-align: left;
  margin-left: 16px;
  margin-right: 18px;
}

.topicos {
  margin-bottom: 100px;
  margin-top: 100px;
  
}

#topicos {
  margin-left: 30px;
  font-size: 38px;
}

.icono {
  display: flex;
  flex-direction: column;
  align-content: space-around;
 text-align: center;
 justify-content: space-around;
 margin-left: 90px;
 margin-right: 90px;
 margin-top: 40px;
 margin-bottom: 80px;
}

.icon {
  width: 104px;
  height: 104px;


}

#novedades {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  margin-bottom: 30px;
  align-content: space-around;

  h3 {
    color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 38px;
    margin-left: 40px;
}

}

footer {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid transparent;
  justify-content: space-between;

  div {
    margin-top: 25px;
    i {
      width: 50px;
      height: 50px;
      margin-left: 20px;
    }
  }

  .foot {
    margin-left: 100px;
    font-size: 14px;
  }
  
}



}